@import "tailwindcss";

@font-face {
  font-family: 'FakeID';
  src: url('./assets/fonts/FakeIdentity.ttf') format('truetype');
}

@font-face {
  font-family: 'KyrillaSansSerif';
  src: url('./assets/fonts/KyrillaSansSerif-Black.ttf') format('truetype');
}

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-fakeId: FakeID, sans-serif;
  --font-kyrilla: KyrillaSansSerif, sans-serif;


}

html,
body,
#root {

  margin: 0;
  -ms-overflow-style: none;
  /* Internet Explorer 10+  */
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  background-color: black;

}

footer {
  margin-top: auto;

}

html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

#root::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}


body {
  background-color: black;
  position: relative;

}

header {
  position: relative;
  z-index: 1000;

}

.swiper {
  width: 100%;
  min-height: 100%;
  position: relative;
  height: 94vh;
  margin-bottom: 60px;
}


.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: transparent;
  color: black;


}


.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: white;
}



@media screen and (max-width: 880px) and (max-height: 600px) {

  .swiper {
    height: 120vh;
  }

}

@media screen and (max-width: 960px) {



  .swiper-button-next::after,
  .swiper-button-prev::after,
  .swiper-rtl {
 font-size: 25px !important
  }

}